    img#main{
        width: 100%;
    }
    .navbar{
        position:absolute;  
        top:20px;
        right:10px;  
        
    }
    .navbaritem{
        display: inline-block;
        margin: 10px;
        font-size: 20px;
        font-weight: 1000;
    }
    .selected{
        color: rgba(248, 62, 223, 0.863);
    }
    .light-theme {
        color: white; 
    }
    .dark-theme {
        color: black;
    }
    body{
        font-family: Arial;
    }
    a{
        text-decoration: none;
    }
    a:hover{
        
       text-decoration: underline;
    }
    #title{
        position:absolute;
        left: 30px;
        top: 1px;
    }
    #description{
        position: absolute;
        top: 200px;
        margin-left:20%;
        margin-right:20%;
        font-size: 20px;
        color: white;
        background-color: rgba(255,255,255,0.5);
        padding: 20px;
        
    }
    .albumimage {
        display: inline-block;
        width: 200px;
        height: 200px;
    }
    .albumimage img {
        max-width: 100%;
        max-height: 100%;
    }
    .albumtext {
        display: inline-block;
        vertical-align: top;
    }
    #container {
        margin-top: 100px;
    }
    .bio {
        display: inline-block;
        padding:2px;
    }
    .biopic {
        width: 300px;
        
    }
    .heading{
        margin:25px;
        font-weight: 1000;
        font-size: 20px;
    }
